/* CUSTOM PROPS */
:root {
  --color-black: #151515;
  --color-grey: #242424;
  --color-grey-light: #d9d9d9;
  --color-green: #4ee1a0;
  --color-white: #fff;

  --color-bg-body: var(--color-black);
  --color-text-body: var(--color-grey-light);
  --color-primary: var(--color-green);

  --font-family: "Space Grotesk", "Arial", sans-serif;

  --container-padding: 16px;
}


/* GLOBAL */
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 500;
  line-height: 162.5%;
  background-color: var(--color-bg-body);
  background-image:
    url("../img/bg-circles.svg"),
    url("../img/bg-circles.svg");
  background-repeat: no-repeat;
  background-position:
    -342px 124px,
    right -344px top 1287px;
  color: var(--color-text-body);
}

img {
  height: auto;
}

*:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 4px;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 73.125rem;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* LOGO */
.logo {
  display: block;
  text-decoration: none;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  width: 129px;
  height: 32px;
}


/* SOCIALS */
.socials__list {
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 0;
  list-style: none;
}

.socials__link {
  display: block;
  color: var(--color-white);
}

.socials__link:hover {
  color: var(--color-primary);
}

.socials__link:active {
  opacity: 0.6;
}


/* UNDERLINED LINK */
.underlined-link {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-green);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  line-height: 162.5%;
  letter-spacing: 0.14288rem;
  text-transform: uppercase;
  color: var(--color-white);
}

.underlined-link:hover {
  color: var(--color-primary);
}

.underlined-link:active {
  opacity: 0.6;
}


/* HEADER */
.header {
  position: relative;
  z-index: 5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


/* HERO */
.hero {
  position: relative;
  padding-bottom: 80px;
  text-align: center;
}

.hero::after {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 142px;
  width: 64px;
  height: 129px;
  background-image: url("../img/hero-circle.svg");
  background-size: contain;
  content: "";
}

.hero__container {
  display: grid;
  justify-items: center;
}

.hero__img {
  width: 174px;
  height: 383px;
  object-fit: cover;
  margin-top: -116px;
  margin-bottom: 40px;
}

.hero__content {
  width: 100%;
  max-width: 27.8125rem;
}

.hero__heading {
  margin-bottom: 24px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.071rem;
  color: var(--color-white);
}

.hero__heading-break {
  display: none;
}

.hero__hightlighted-text {
  display: inline-block;
  border-bottom: 4px solid var(--color-primary);
  text-decoration: none;
}

.hero__text {
  margin-bottom: 24px;
}


/* TECH-EXPERIENCE */
.tech-experience__inner {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid var(--color-white);
  text-align: center;
}

.tech-experience__list {
  display: grid;
  gap: 24px 8px;
  padding: 0;
  list-style: none;
}

.tech-experience__title {
  margin-bottom: 1px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.0625rem;
  color: var(--color-white);
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}

/* 700px */
@media only screen and (min-width: 43.75em) {
  :root {
    --container-padding: 30px;
  }

  body {
    font-size: 1.125rem;
    line-height: 155.556%;
    background-position:
      -265px 86px,
      right -332px top 1120px;
  }

  .logo__img {
    width: 172px;
  }

  .socials__list {
    gap: 32px;
  }

  .header {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .header__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
  }

  .hero::after {
    top: 380px;
  }

  .hero__container {
    justify-items: start;
  }

  .hero__img {
    position: absolute;
    z-index: -1;
    right: 0;
    top: -90px;
    width: 322px;
    height: 600px;
    margin: 0;
  }

  .hero__heading {
    margin-bottom: 66px;
    font-size: 4.5rem;
  }

  .hero__heading-break {
    display: inline;
  }

  .hero__text {
    margin-bottom: 34px;
  }

  .tech-experience__inner {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
  }

  .tech-experience__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 52px 8px;
  }

  .tech-experience__item {
    display: grid;
    gap: 14px;
  }

  .tech-experience__title {
    font-size: 3rem;
    line-height: 116.667%;
    letter-spacing: -0.09375rem;
  }
}

/* 992px */
@media only screen and (min-width: 62em) {
  body {
    background-position:
      calc(50% - 620px) 133px,
      calc(50% + 710px) 1077px;
  }

  .header {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .header__socials {
    margin-right: 30px;
  }

  .hero {
    padding-top: 88px;
    padding-bottom: 220px;
  }

  .hero::after {
    width: 129px;
    height: 129px;
    top: 391px;
    right: auto;
    left: calc(50% + 74px);
    border: 1px solid var(--color-white);
    border-radius: 50%;
    background: none;
  }

  .hero__img {
    width: 445px;
    height: 720px;
    top: -112px;
  }

  .hero__content {
    max-width: 44.375rem;
  }

  .hero__heading {
    margin-bottom: 38px;
    font-size: 5.5rem;
    letter-spacing: -0.15625rem;
  }

  .hero__heading-break {
    display: none;
  }

  .hero__text {
    max-width: 27.8125rem;
    margin-bottom: 66px;
  }

  .tech-experience__inner {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .tech-experience__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 58px 30px;
  }
}

/* 1200px */
@media only screen and (min-width: 75em) {
  .hero__img {
    right: auto;
    left: calc(50% + 111px);
  }
}
