/* CUSTOM PROPS */
:root {
  --color-black: #151515;
  --color-grey: #242424;
  --color-grey-light: #d9d9d9;
  --color-green: #4ee1a0;
  --color-white: #fff;

  --color-bg-body: var(--color-black);
  --color-text-body: var(--color-grey-light);
  --color-primary: var(--color-green);

  --font-family: "Space Grotesk", "Arial", sans-serif;

  --container-padding: 16px;
}


/* GLOBAL */
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 500;
  line-height: 162.5%;
  background-color: var(--color-bg-body);
  background-image: url("../img/bg-circles.svg");
  background-repeat: no-repeat;
  background-position: -342px 124px;
  color: var(--color-text-body);
}

img {
  height: auto;
}

*:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 4px;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1166px;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* LOGO */
.logo {
  display: block;
  text-decoration: none;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  width: 129px;
  height: 32px;
}


/* SOCIALS */
.socials__list {
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 0;
  list-style: none;
}

.socials__link {
  display: block;
  color: var(--color-white);
}

.socials__link:hover {
  color: var(--color-primary);
}

.socials__link:active {
  opacity: 0.6;
}


/* UNDERLINED LINK */
.underlined-link {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-green);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  line-height: 162.5%;
  letter-spacing: 0.14288em;
  text-transform: uppercase;
  color: var(--color-white);
}

.underlined-link:hover {
  color: var(--color-primary);
}

.underlined-link:active {
  opacity: 0.6;
}


/* HEADER */
.header {
  position: relative;
  z-index: 5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


/* HERO */
.hero {
  position: relative;
  padding-bottom: 80px;
  text-align: center;
}

.hero::after {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 142px;
  width: 64px;
  height: 129px;
  background-image: url("../img/hero-circle.svg");
  background-size: contain;
  content: "";
}

.hero__container {
  display: grid;
  justify-items: center;
}

.hero__img {
  width: 174px;
  height: 383px;
  object-fit: cover;
  margin-top: -116px;
  margin-bottom: 40px;
}

.hero__content {
  width: 100%;
  max-width: 27.8125rem;
}

.hero__heading {
  margin-bottom: 24px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.071em;
  color: var(--color-white);
}

.hero__hightlighted-text {
  display: inline-block;
  border-bottom: 4px solid var(--color-primary);
  text-decoration: none;
}

.hero__text {
  margin-bottom: 24px;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}

/* 768px */
@media only screen and (min-width: 48em) {
  :root {
    --container-padding: 30px;
  }

  body {
    background-position: -265px 86px;
  }

  .logo__img {
    width: 172px;
  }

  .header {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .header__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero {
    padding-top: 60px;
    text-align: left;
  }

  .hero__container {
    justify-items: start;
  }

  .hero__img {
    position: absolute;
    z-index: -1;
    right: 0;
    top: -152px;
    width: 322px;
    height: 600px;
    margin: 0;
  }

  .hero__heading {
    font-size: 4.5rem;
  }
}

/* 992px */
@media only screen and (min-width: 62em) {
  .header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
